@media(max-width: 425px){
   .home-cards .container .row {
    padding: 0px 10px;
}
}


@media(max-width: 767px){
    .home-hero .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-btns {
    display: flex;
    justify-content: center;
}

.home-hero .row .hero-col-1 {
    text-align: center;
}

.hero-image {
    padding-top: 30px;
}

.slick-list {
    height: 300px;
}


}


@media(max-width: 980px){

.menu-web{
    display: none;
}

.ham-menu{
    display: inline-block ;
}

.mob-menu nav ul {
    padding: 10px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
    position: absolute;
    top: 6rem;
    left: 0;
    background: #fff;
    z-index: 1;
}

.mob-menu nav ul li {
    padding: 10px;
    width: 100%;
    text-align: center;
margin-left: 0 !important;

}
.slick-slide {
    margin: 0 5px;
}

.conact-us-teams .conact-us-teams-row1 {
    width: 95%;
    margin: 0 auto;

}

section .row {
    width: 100%;
    margin: 0 auto;
}

.home-abt-us .row{
    width: 100%;
}

.slick-list {
    height: 300px;
}

}

/* @media(min-width: 1110px){
    .slick-slide {
    width: 1000px;
    margin: 0 5px;
}
} */



@media(max-width: 1024px){
    .our-mission-img-1, .our-mission-img-2, .our-mission-img-3 {
    height: 200px;
    object-position: 40% 80%;
}
}

@media(max-width: 1023px){
    .home-cards{
    padding-top: 250px;
}

.home-hero {padding-bottom: 50px;}

.educational-res-card{
    width: 95%;
    transform: translate(3%, 50%);
}

/* ====== Our Mission ======  */

  .our-mission-img-1, .our-mission-img-2, .our-mission-img-3 {
    height: 300px;
}

}
@media (max-width: 767px) {
    button.slider-btn-prev,
    button.slider-btn-next {
        background: transparent;
    }

    button.slider-btn-prev {
        left: -5px;
    }

    button.slider-btn-next {
        right: -5px;
    }
}





