
.container{
    margin: 0 auto;
}

header{
    z-index: 9999;
}

.ham-menu{
    display: none;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ham-menu button {
    font-size: 30px;
}

/* =============================================== Banner =============================================== */

.bnr-slider{
    width: 100%;
    height: 300px;
}

.home-hero{
    background-image: url(/src/assets/compress_background.webp);
    position: relative;
}

.home-hero .row{padding-bottom: 180px;}


.hero-image img{
 width: 500px;
}


.educational-res-card{
    width: 80%;
    margin: 0 auto;
     position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(13%, 50%);
}


.home-cards{
    padding: 160px 0 0 0;
}


/* =============== Our Mission =============== */

.our-mission-sec{
 background-color: #264796;
}

.our-mission-img-1, .our-mission-img-2, .our-mission-img-3 {
    height: 290px;
    object-fit: cover;
    width: 800px;
    object-position: 50% 80%;
}


/* =============== Impact Section =============== */

.impct-card ul li{
    position: relative;
    padding-left: 65px;
}

.impct-card ul li:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    content: "\2713";
    font-size: 26px;
    font-weight: 800;
    background-color: #fff;
    border-radius: 50%;
    padding-left: 8px;
}