.container {
    margin: 0 auto;
}

header {
    z-index: 9999;
}

.ham-menu {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ham-menu button {
    font-size: 30px;
}


section .row {
    width: 95%;
    margin: 0 auto;
}

.home-star-sec .row,
.abt-page-bnr .row {
    width: 100% !important;
}

/* -================= */
.nav-menu.nav-container, .footer-container{
    width: 92%;
}



/* =============================================== Banner =============================================== */

.bnr-slider {
    width: 100%;
    height: 300px;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}

.slick-arrow.slick-prev {
    left: 5px;
}

.slick-arrow.slick-next {
    right: 15px !important;
}

.slick-slider svg.text-gray-700 {
    color: #fff;
}

.home-hero,
.abt-us-2 {
    background-image: url(/src/assets/compress_background.webp);
    position: relative;
}

.home-hero .row {
    padding-bottom: 180px;
}


.hero-image img {
    width: 500px;
}


.educational-res-card {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(13%, 50%);
}


.home-cards {
    padding: 160px 0 0 0;
}

.slick-prev {
    left: 0 !important;
    z-index: 99;
}

.slick-next {
    right: 0 !important;
    z-index: 99;
}

.slick-list {
    height: 420px;
}

/* =============== Our Mission =============== */

.our-mission-sec {
    background-color: #264796;
}

.our-mission-img-1,
.our-mission-img-2,
.our-mission-img-3 {
    height: 290px;
    object-fit: cover;
    width: 800px;
    object-position: 50% 80%;
}


/* =============== Impact Section =============== */

.impct-card ul li {
    position: relative;
    padding-left: 65px;
}

.impct-card ul li:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    content: "\2713";
    font-size: 26px;
    font-weight: 800;
    background-color: #fff;
    border-radius: 50%;
    padding-left: 8px;
}

.home-abt-us .row {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.home-abt-us .row .col h2 {
    text-align: center;
}

/* +++++++++++ About Us +++++++++++ */
/* .abt-us-btns{
    display: flex;

} */



/* +++++++++++ Contact Us +++++++++++ */

.conact-us-teams .conact-us-teams-row1 {
    width: 60%;
    margin: 0 auto;

}

.conact-us-teams .conact-us-teams-row1 h2,
.conact-us-teams .conact-us-teams-row1 p {
    text-align: center;
}